form.signup,
form.login {
  margin-top: 50px;
}
.list-group-item {
  line-height: 2.5;
}
#submit {
  background-color:transparent;
  border:solid 2px red;
  color:red;
  font-size:26px;
  padding-left:40px;
  padding-right:40px;
  font-weight: bold;
}
#submit:hover {
  background-color:red;
color: white;
}
label {
font-weight: bold;
font-style: italic;
}
#signup {
  margin-top: 4px;
  padding-top:5px;
  padding-bottom:5px;
}
#mainpgheader2 {
  font-weight: 200;
font-style: italic;
font-size:30px;
color: rgb(129, 125, 125);
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: right;
margin-top: -50px;
margin-bottom: 50px;

}
#topstyle {
  width: 100%;
  height: 46px;
  background-color: rgba(255, 0, 0, 0.562);
} 
.bottomRedirectLink {
  font-size:16px;
}
